<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="UAVServer.UAVService" behaviorConfiguration="mexBehavior">
        <endpoint address="" binding="netTcpBinding" contract="UAVServer.IUAVService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732" />
            <add baseAddress="net.tcp://localhost:8733" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
  <appSettings>
    <add key="MetadataLoacalIP" value="http://localhost:8732" lockItem="true" />
    <add key="ClientIP" value="net.tcp://localhost:8733" lockItem="false" />
  </appSettings>

</configuration>